
body{
  margin: 0;
  font-family: Arial, sans-serif, Helvetica;
  background-color: #dfdddd;
  overflow: scroll;


}
.header {
  background: teal;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 5px;
  
}

.footer {
  background: teal;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 5px;
  
}

.buy-button {
  background-color: teal;
  color: white;
  border: none 0px;
  border-radius: 15px;
  margin: 10;
  box-shadow: 3px 3px 5px rgb(54, 53, 53);
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
}

.header-button {
  background-color: rgb(149, 241, 241);
  color: rgb(0, 0, 0);
  border: none 0px;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 3px 3px 5px rgb(54, 53, 53);
  padding: 15px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 248, 248));
  font-size: 25px;
}

button:hover{
  box-shadow: 3px 3px 8px rgb(54, 53, 53);
  opacity: 0.75;
  transition: opacity 0.2s;
}

.product-div{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(199, 199, 199);
  border: none 0px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgb(54, 53, 53);
  opacity: 50;
  margin: 10px;
}

.info-div{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #dfdddd;
  border: none 0px;
  border-radius: 15px;
  opacity: 50;
  margin: 10px;
}

.home-button{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(199, 199, 199);
  border: none 0px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgb(54, 53, 53);
  opacity: 50;
  margin: 10px;
  padding: 150px;
  background-image: linear-gradient(to right, rgb(18, 201, 201), rgb(0, 248, 248));
  color: white;
  cursor: pointer;

}

.product-div:hover{
  transform: scale(1.05);
  transition: transform .2s;

}

.home-div:hover{
  transform: scale(1.05);
  transition: transform .2s;
  cursor: pointer;
}

